body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #000;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.5s;
    text-transform: capitalize;
    border-left: 2px solid #000;
}

.sidenav a:hover,
.sidenav a.active {
    color: #fff;
    background-color: #4f4f4f;
    border-left: 2px solid #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    margin-left: 50px;
    font-weight: lighter;
    padding-top: 0;
    padding-bottom: 0;
    border-left: none;
}

a.closebtn:hover {
    text-decoration: none;
    color: #4f4f4f;
    background-color: transparent;
    border-left: none;
}

.open {
    font-size:50px;
    cursor:pointer;
    max-width: 45px;
    margin-left: 15px;
}

.open span {
    width: 35px;
    height: 2px;
    background-color: #000;
    margin: 6px 0;
    display: block;
}

.header-top {
    padding: 20px 15px;
}

.inner {
    padding: 30px 15px;
}

.hero-area {
    background-color: #ffd401;
}

.dark-grey {
    background-color: #a9a9a9;
}

.light-grey {
    background-color: #d6d6d6;
}

.white-area {
    background-color: #fff;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 1;
}

.quote-form-wrapper {
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 321px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.5);
    box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.5);
}

.quote-form-wrapper form {
    text-align: center;
}

.calc {
    margin-bottom: 30px;
}

.calc img {
    margin: 0 auto;
}

.list-group-item {
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.list-group-item:first-child {
    font-weight: bold;
}

.wip {
    text-align: center;
}

.logo img{
    width: 100px;
}

.lang {
    text-align: left;
}

.lang img{
    width: 30px;
}

.lang a {
    display: inline-block;
    margin-left: 10px;
}

.services h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 100;
}

.services p {
    padding-right: 150px;
}

.footer {
    /*margin-top: 50px;*/
}

.footer a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}

.footer a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 13px;
    padding-bottom: 50px;
}

.banner img {
    width: 80%;
}

.banner {
    text-align: center;
}

.why-us .row {
    margin-bottom: 30px;
}

.why-us p{
    margin-bottom: 0;
}

.list-group-item {
    padding-left: 0;
}

.features {
    margin-bottom: 30px;
}

.popover-title {
    display: none;
}

.popover.right {
    width: 70%;
    background-color: #8acbee;
    color: #fff;
    border: none;
    padding: 15px;
}

.popover.right>.arrow:after {
    border-right-color: #8acbee;
}

.submit-info {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #8acbee;
    background-color: transparent;
    color: #8acbee;
}

.submit-info:hover {
    background-color: transparent;
    color: #8acbee;
    border-color: #8acbee;
}

.submit-info:focus,
.submit-info:active {
    outline: none!important;
    box-shadow: none;
    border: 2px solid #8acbee;
}

.fileinput-button {
    padding: 10px 12px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: table-cell;
}

.fileinput-button .ti-plus {
    font-weight: bold;
    font-size: 30px;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

.file-attach {
    text-align: left;
    margin-bottom: 30px;
    display: table-row;
}

.attach-info {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 18px;
}

.attach-info span {
    font-size: 15px;
    display: block;
}

.quote-form-wrapper h4 {
    margin-bottom: 30px;
    font-size: 20px;
}

.quote h4 {
    margin-top: 30px;
}

.quote-form-wrapper .form-control {
    height: 40px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    color: #000;
    box-shadow: none; 
    padding: 6px 0;
}

.quote-form-wrapper textarea.form-control {
    height: auto;
}

.quote-form-wrapper .more-info {
    text-align: left;
}

.quote-form-wrapper .btn[type='submit'] {
    padding: 10px 30px;
    border-radius: 30px;
    border-width: 2px;
    background-color: #dcdde0;
    border-color: #dcdde0;
    color: #000;
    font-weight: bold;
}

.quote-form-wrapper .form-group:last-child {
    margin-bottom: 0;
    margin-top: 55px;
}

.banner {
    width: 210px;
    height: 210px;
    background: url(../img/circle_banner.png) no-repeat right top;
    float: none;
    margin: 0 auto;
    position: relative;
    display: none;
}

.banners {
    display: none;
}

.banner p {
    margin-bottom: 0;
    position: absolute;
    top: 45px;
    left: 35px;
    transform: rotate(20deg);
}

.banner span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.native {
    background: url(../img/native.png) no-repeat center top;
    width: 263px;
    height: 365px;
    position: relative;
    margin: 0 auto 30px auto;
}

.delivery-on {
    background: url(../img/delivery_on.png) no-repeat center top;
    width: 263px;
    height: 365px;
    position: relative;
    margin: 0 auto 30px auto;
}

.delivery {
    background: url(../img/delivery.png) no-repeat center top;
    width: 263px;
    height: 365px;
    position: relative;
    margin: 0 auto 30px auto;
}

.rates {
    background: url(../img/5_rates.png) no-repeat center top;
    width: 263px;
    height: 365px;
    position: relative;
    margin: 0 auto 30px auto;
}

.features.rates p {
    bottom: 65px;
}

.features.rates p .t1 {
    font-size: 60px;
}

.features p {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 20px;
    text-transform: uppercase;
}

.features p span {
    display: block;
    line-height: 0.9;
}

.features p .t1 {
    font-size: 65px;
}

.features p .t2 {
    font-size: 32px;
}

.dzone {
    visibility:hidden; 
    opacity:0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background: rgba(64,159,255,0.8);
    transition: visibility 500ms, opacity 500ms;
    display: table;
    text-shadow: 0px 1px 1px #878787;
    color: #fff;
    text-align: center;
}

.dz-drag-hover .dzone {
    visibility: visible;
    opacity: 1;
}

.dzone h3 {
    font-size: 55px;
    font-weight: bold;
}

.dzone h4 {
    font-size: 17px;
}

.dzone .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.privacy-alert.alert-info {
    background-color: #f3f3f5;
    border: none;
}

.privacy-alert.alert {
    border-radius: 0;
    color: #000;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.5);
    box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.5);
}

.privacy-alert .close {
    font-size: 12px;
    background: #89caf1;
    opacity: 1;
    text-shadow: none;
    padding: 8px 16px;
    border-radius: 15px;
    color: #fff;
}

.slick-slide img {
    width: 100%;
    height: auto;
}

.legal {
    color: #fff;
}

.legal h2 {
    text-align: center;
    font-weight: 100;
    margin-bottom: 50px;
}

.legal .list-group-item:first-child {
    font-weight: 100;
}

.bot-space {
    margin-bottom: 30px;
}

.left-space {
    padding-left: 30px;
}

.legal .left {
    border-right: 2px solid #fff;
}

.legal .right {
    padding-left: 30px;
}

.contact {
    background: url(../img/contact.png) no-repeat center center;
    background-size: 30%;
}

.about {
    /*background: url(../img/about.png) no-repeat center center;
    background-size: 30%;*/
}

.progress {
    height: 2px;
    box-shadow: none;
}

.quick-link a {
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #000;
    margin-right: 15px;
}

.quick-link span {
    display: block;
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
}

.circle_banner img {
    display: none;
}

.about .inner {
    padding-bottom: 0;
}

.ic-1,
.ic-2 {
    padding: 30px;
    height: 230px;
}

.ic-1 div,
.ic-2 div {
    text-align: center;
}

.ic-1 {
    background-color: #8bcaef;
}

.ic-2 {
    background-color: #ffd401;
}

.ic-1 img,
.ic-2 img {
    display: block;
    margin: 0 auto;
}

.ic-1 span,
.ic-2 span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

.block-about .wrapper {
    text-align: center;
    padding-top: 50px;
}

.block-about .wrapper.last {
    padding-bottom: 50px;
}

.block-about h3 {
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero-img img {
    margin: 0 auto; 
}

.block-2 {
    background-color: #8bcaef;
    border-radius: 20px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    min-height: 370px;
}

.block-2 h3 {
    background-color: #ffd401;
    border-radius: 20px 20px 0 0;
    margin: 0 0 25px 0;
    padding: 15px;
    border-bottom: 20px solid #f1525b;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
}

.block-2 .list-group-item:first-child {
    font-weight: bold;
}

.block-2 .list-group-item {
    background: url(../img/ic_tick.png) no-repeat right center;
    padding-left: 20px;
    color: #fff;
    font-weight: bold;
}

.block-2 .list-group {
    margin-bottom: 0;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .features img {
        margin: 0 auto;
    }

    .inner {
        padding: 30px 15px;
    }

    .banner,
    .banners,
    .circle_banner img {
        display: block;
    }

    .block-2 {
        margin-bottom: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .footer > .row {
        margin-left: 50%;
    }

    .wip {
        text-align: right;
    }

    .logo img{
        width: 162px;
    }

    .open {
        margin-left: 0;
    }

    .open span {
        width: 45px;
        margin: 8px 0;
    }

    .open span:last-child {
        margin-bottom: 0;
    }

    .lang {
        text-align: right;
    }

    .inner {
        padding: 45px 0;
    }

    .quote-form-wrapper,
    .calc {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .calc img {
        margin-top: 45px;
    }

    .why-us .row {
        margin-bottom: 30px;
    }

    .list-group-item {
        padding-left: 15px;
    }

    .features {
        margin-bottom: 0;
    }

    .banner {
        float: right;
        display: block;
    }

    .hero-area,
    .white-area,
    .light-grey,
    .dark-grey {
        padding: 0 90px; 
    }

    .services.white-area {
        padding: 0 100px;
    }

    .circle_banner img {
        float: right;
        display: block;
    }

    .block-2 {
        margin-bottom: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .why-us .row {
        margin-bottom: 0;
    }

    .inner {
        padding: 95px 0;
    }

    .why-us.inner {
        padding-bottom: 0;
    }

    .services .inner {
        padding-top: 0;
    }

    .banner,
    .banners {
        display: block;
    }

    .quote .inner,
    .about .inner {
        padding-bottom: 0;
    }

    .circle_banner img {
        float: right;
        display: block;
    }
    
    .block-2 {
        margin-bottom: 0;
    }
}