{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
<div class="container-fluid header-top">
  <div class="row">	
  	{{ content }}
  	<div class="col-lg-2 col-xs-4 lang">
	  <!-- <a href="#" class="en"><img src="/themes/photo/img/flag_us.gif" alt="US"></a>
	  <a href="#" class="it"><img src="/themes/photo/img/flag_it.gif" alt="Italy"></a>
	  <a href="#" class="fr"><img src="/themes/photo/img/flag_fr.gif" alt="France"></a> -->
	  <select class="lang-select" data-width="fit">
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="it">Italian</option>
      </select>
	</div>
  </div>
</div>
{% endif %}
