{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{% if content and path_arg == 'freelancers' %}
<div class="cd-panel cd-panel--from-right js-cd-panel-main">
    <header class="cd-panel__header">
        <a href="#0" class="cd-panel__close js-cd-close">{{ 'Close'|t }}</a>
    </header>

    <div class="cd-panel__container">
        <div class="cd-panel__content">
            <div class="container-fluid">
                <div class="row">
  					{{ content }}
			  	</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="container-fluid white-area">
  <div class="row inner">
  	{{ content }}
  </div>
</div>
{% endif %}
